<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerAddr" value="http://+:8008/"/>
    <add key="PhysicalWebsitePath" value="%APPDATA%\IAI\GreenEye\www"/>
    <add key="PhysicalRootPath" value="%APPDATA%\IAI\GreenEye"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.net>
    <settings>
      <httpListener unescapeRequestUrl="false" />
    </settings>
  </system.net>
</configuration>
