<?xml version="1.0" encoding="utf-16"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CacheOnlyMusic>true</CacheOnlyMusic>
  <MaxQuotaInMB>10240</MaxQuotaInMB>
  <MinFreeSpaceInMB>1024</MinFreeSpaceInMB>
  <IsEnabled>true</IsEnabled>
  <MaxFileSizeInMB>100</MaxFileSizeInMB>
</Config>