<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UdpServerPort" value="8009"/>
    <add key="EntityUpdateInterval" value="1000"/>
    <add key="EntityUpdateRecipients" value="http://localhost:8008/api/ui/world;http://localhost:8008/api/ui/world;"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.net>
    <settings>
      <httpListener unescapeRequestUrl="false" />
    </settings>
  </system.net>
</configuration>
